{% load static %}
<nav class="sidebar">
	<div class="sidebar-header">
		<a href="#" class="sidebar-brand">
			Portal<span>D</span>
		</a>
		<div class="sidebar-toggler not-active">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="sidebar-body">
		<ul class="nav">
			<li class="nav-item nav-category">Main</li>
			<li class="nav-item ">
				<a href="{% url 'portal-home' %}" class="nav-link">
					<i class="link-icon" data-feather="box"></i>
					<span class="link-title">PortalD</span>
				</a>
			</li>
            {% if request.user.is_superuser %}
            <li class="nav-item nav-category">Management</li>
			<li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#clients" role="button" aria-expanded="" aria-controls="clients">
					<i class="link-icon" data-feather="users"></i>
					<span class="link-title">Clientes</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="clients">
					<ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="{% url 'clients' %}" class="nav-link ">Meus Clientes</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'register-client' %}" class="nav-link ">Cadastrar Cliente</a>
						</li>
					</ul>
				</div>
			</li>
            {% endif %}
            <li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#tools" role="button" aria-expanded="" aria-controls="tools">
					<i class="link-icon" data-feather="terminal"></i>
					<span class="link-title">Tools</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="tools">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'kanban' %}" class="nav-link ">Anotações</a>
						</li>
					</ul>
				</div>
			</li>
            <li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#cmdb" role="button" aria-expanded="" aria-controls="cmdb">
					<i class="link-icon" data-feather="box"></i>
					<span class="link-title">CMDB</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="cmdb">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'passwords-safe' %}" class="nav-link ">Cofre de Senhas</a>
						</li>
                        <li class="nav-item">
							<a href="{% url 'inventory' %}" class="nav-link ">Inventário</a>
						</li>
					</ul>
				</div>
			</li>
            <li class="nav-item nav-category">Gráficos</li>
            <li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#graphs" role="button" aria-expanded="" aria-controls="graphs">
					<i class="link-icon" data-feather="pie-chart"></i>
					<span class="link-title">Zabbix</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="graphs">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'chart-line-basic' %}" class="nav-link ">basic line</a>
						</li>
                        <li class="nav-item">
							<a href="{% url 'create-charts' %}" class="nav-link ">create charts</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item nav-category">Docs</li>
			<li class="nav-item">
				<a href="https://github.com/dbafurushima/portal-dashboard/wiki" target="_blank" class="nav-link">
					<i class="link-icon" data-feather="hash"></i>
					<span class="link-title">Documentação</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="settings-sidebar">
	<div class="sidebar-body">
		<a href="#" class="settings-sidebar-toggler">
			<i data-feather="settings"></i>
		</a>
		<div class="theme-wrapper">
			<h6 class="text-muted mb-2">Configurações</h6>
            <div class="form-group form-inline">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input set-theme-light" name="theme" id="set-light" value="light">
                        light
                        <i class="input-frame"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input set-theme-dark" name="theme" id="set-dark" value="dark">
                        dark
                        <i class="input-frame"></i></label>
                </div>
            </div>
            {% if 'charts' in request.path_info %}
            {% endif %}
		</div>
	</div>
</nav>

{% csrf_token %}
