{% load static %}
<nav class="sidebar">
	<div class="sidebar-header">
		<a href="#" class="sidebar-brand">
			Portal<span>D</span>
		</a>
		<div class="sidebar-toggler not-active">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="sidebar-body">
		<ul class="nav">
			<li class="nav-item nav-category">Main</li>
			<li class="nav-item ">
				<a href="{% url 'portal-home' %}" class="nav-link">
					<i class="link-icon" data-feather="box"></i>
					<span class="link-title">PORTALD</span>
				</a>
			</li>

            {% if not request.user.is_superuser %}
            <li class="nav-item ">
				<a href="{% url 'list-graph' %}" class="nav-link">
					<i class="link-icon" data-feather="bar-chart-2"></i>
					<span class="link-title">GRÁFICOS</span>
				</a>
			</li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="nav-item nav-category">MANAGMENT</li>
			<li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#clients" role="button" aria-expanded="" aria-controls="clients">
					<i class="link-icon" data-feather="users"></i>
					<span class="link-title">CLIENTES</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="clients">
					<ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="{% url 'clients' %}" class="nav-link ">MEUS CLIENTES</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'register-client' %}" class="nav-link ">CADASTRAR CLIENTE</a>
						</li>
					</ul>
				</div>
			</li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#tools" role="button" aria-expanded="" aria-controls="tools">
					<i class="link-icon" data-feather="terminal"></i>
					<span class="link-title">UTILITÁRIOS</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="tools">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'kanban' %}" class="nav-link ">ANOTAÇÕES</a>
						</li>
					</ul>
				</div>
			</li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#cmdb" role="button" aria-expanded="" aria-controls="cmdb">
					<i class="link-icon" data-feather="box"></i>
					<span class="link-title">CMDB</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="cmdb">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'passwords-safe' %}" class="nav-link ">COFRE DE SENHAS</a>
						</li>
                        <li class="nav-item">
							<a href="{% url 'inventory' %}" class="nav-link ">INVENTÁRIOS</a>
						</li>
					</ul>
				</div>
			</li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#graphs" role="button" aria-expanded="" aria-controls="graphs">
                    <i class="link-icon" data-feather="server"></i>
                    <span class="link-title">ZABBIX</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="graphs">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="{% url 'zabbix-graph-create' %}" class="nav-link ">REPLICAR</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list-zabbix-graphs' %}" class="nav-link ">LISTAR</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="nav-item nav-category">GRAPHICS</li>
            <li class="nav-item">
				<li class="nav-item ">
				<a class="nav-link" data-toggle="collapse" href="#clients_page" role="button" aria-expanded="" aria-controls="graphs">
					<i class="link-icon" data-feather="bar-chart-2"></i>
					<span class="link-title">GRÁFICOS</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="clients_page">
					<ul class="nav sub-menu">
                        <li class="nav-item">
							<a href="{% url 'create-charts' %}" class="nav-link ">CRIAR GRÁFICO</a>
						</li>
                        <li class="nav-item">
							<a href="{% url 'list-graph-clients' %}" class="nav-link ">CLIENTES</a>
						</li>
					</ul>
				</div>
			</li>
            {% endif %}
			<li class="nav-item nav-category">Docs</li>
			<li class="nav-item">
				<a href="https://github.com/dbafurushima/portal-dashboard/wiki" target="_blank" class="nav-link">
					<i class="link-icon" data-feather="hash"></i>
					<span class="link-title">DOCUMENTAÇÃO</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="settings-sidebar">
	<div class="sidebar-body">
		<a href="#" class="settings-sidebar-toggler">
			<i data-feather="settings"></i>
		</a>
		<div class="theme-wrapper">

            <h6 class="text-muted mb-2">Light Version:</h6>

            <a class="theme-item" id="set-light" href="javascript:void(0);">
                <img src="https://www.nobleui.com/laravel/template/light/assets/images/screenshots/light.jpg" alt="light version">
            </a>
            <h6 class="text-muted mb-2">Dark Version:</h6>

            <a class="theme-item" id="set-dark" href="javascript:void(0);">
                <img src="https://www.nobleui.com/laravel/template/light/assets/images/screenshots/dark.jpg" alt="light version">
            </a>
            {% if 'inventory' in request.path_info %}
            <h6 class="text-muted mb-2">Inventário</h6>
            <div class="form-group form-inline">
                <button type="button" id="btn-create-env" class="btn btn-primary btn-block">Criar Ambiente</button>
                <button type="button" id="btn-create-host" class="btn btn-primary btn-block">Criar Host</button>
                <button type="button" id="btn-create-instance" class="btn btn-primary btn-block">Criar Instância</button>
                <button type="button" id="btn-create-service" class="btn btn-primary btn-block">Criar Serviço</button>
            </div>
            {% endif %}
            {% if 'notes' in request.path_info %}
                <!--
            <button type="button" id="btn-create-env" class="btn btn-primary addTask btn-block">
                Adicionar Anotação
            </button>
            -->
            {% endif %}
			{% if 'client' in request.path_info %}
			<button type="button" id="edit-mode" class="btn btn-primary btn-block btn-icon-text">
				<i class="btn-icon-prepend" data-feather="edit"></i>
				<span id="text-edit-mode">
					Habilitar Modo Edição
				</span>
			</button>
            {% endif %}
		</div>
	</div>
</nav>

{% csrf_token %}
