{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Clients {% endblock %}

{% block css_plugins %}

{% endblock %}

{% block css %}
    <style>
    .perfect-scrollbar-example {
        position: relative;
        max-height: 630px;
    }
    </style>
{% endblock %}

{% block js_plugins %}
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/list-clients.js' %}"></script>
    <script>
    var scrollbarExample = new PerfectScrollbar('.perfect-scrollbar-example');
    </script>
{% endblock %}

{% block content %}

<div class="row perfect-scrollbar-example">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Clientes</h6>
                <div class="row">

                    {% for client in clients %}
                    <div class="col-sm-3 mt-3 show-info" data-company_name="{{ client.company_name }}"
                         data-display_name="{{ client.display_name }}" data-cnpj="{{ client.cnpj }}"
                         data-city="{{ client.city }}" data-state="{{ client.state }}" data-cep="{{ client.cep }}"
                         data-state_registration="{{ client.state_registration }}"
                         data-municipal_registration="{{ client.municipal_registration }}" data-created_at="{{ client.created_at }}">
                        <div class="card text-center">
                            <div class="card-body" style="padding: 15px">
                                <h5 class="card-title">
                                    <img style="border-radius: 50%" src="https://via.placeholder.com/80x80"/>
                                </h5>
                                <p class="card-text">{{ client.display_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="info-modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="card">
                <ul class="nav nav-tabs nav-tabs-line" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            Basic infos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            Address
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            Detail
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-4">
                                 <img src="https://www.nobleui.com/laravel/template/dark/assets/images/placeholder.jpg"
                                      alt="logo" width="200" height="150">
                            </div>
                            <div class="col-md-8">
                                <ul>
                                    <li class="list-group-item" style="text-align: center" id="company_name"></li>
                                    <li class="list-group-item" style="text-align: center" id="display_name"></li>
                                    <li class="list-group-item" style="text-align: center" id="created_at"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li class="list-group-item" style="text-align: center" id="city"></li>
                                    <li class="list-group-item" style="text-align: center" id="state"></li>
                                    <li class="list-group-item" style="text-align: center" id="cep"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li class="list-group-item" style="text-align: center" id="cnpj"></li>
                                    <li class="list-group-item" style="text-align: center" id="state_registration"></li>
                                    <li class="list-group-item" style="text-align: center" id="municipal_registration"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="info-modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ul class="list-group">
                <span class="badge badge-pill badge-info">Company Name</span><li class="list-group-item" style="text-align: center" id="company_name"></li>
                <span class="badge badge-pill badge-info">Display Name</span><li class="list-group-item" style="text-align: center" id="display_name"></li>
                <span class="badge badge-pill badge-info">CNPJ</span><li class="list-group-item" style="text-align: center" id="cnpj"></li>
                <span class="badge badge-pill badge-info">City</span><li class="list-group-item" style="text-align: center" id="city"></li>
                <span class="badge badge-pill badge-info">State</span><li class="list-group-item" style="text-align: center" id="state"></li>
                <span class="badge badge-pill badge-info">CEP</span><li class="list-group-item" style="text-align: center" id="cep"></li>
                <span class="badge badge-pill badge-info">State Registration</span><li class="list-group-item" style="text-align: center" id="state_registration"></li>
                <span class="badge badge-pill badge-info">Munincipal Registration</span><li class="list-group-item" style="text-align: center" id="municipal_registration"></li>
                <span class="badge badge-pill badge-info">Created At</span><li class="list-group-item" style="text-align: center" id="created_at"></li>
            </ul>
        </div>
    </div>
</div>
-->
{% endblock %}
