{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Tempalte {% endblock %}

{% block css_plugins %}

{% endblock %}

{% block css %}

{% endblock %}

{% block js_plugins %}
    
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Cadastro de Clientes</h6>
                <div>
                    <div class="col-md-12">
                        <div class="">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Nome</label>
                                            <input type="text" class="form-control" placeholder="Nome do cliente">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Razão Social</label>
                                            <input type="text" class="form-control" placeholder="Razão Social">
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Cidadade</label>
                                            <input type="text" class="form-control" placeholder="Sua cidade">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Estado</label>
                                            <input type="text" class="form-control" placeholder="Seu estado">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">CEP</label>
                                            <input type="text" class="form-control" placeholder="CEP ex. 58010-810">
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">CNPJ</label>
                                            <input type="text" class="form-control" placeholder="CNPJ">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Inscrição Estadual</label>
                                            <input type="text" class="form-control" placeholder="Sua inscrição estadual">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Inscrição Munincipal</label>
                                            <input type="text" class="form-control" placeholder="Sua inscrição munincipal">
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control" placeholder="Endereço de email">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <input type="password" class="form-control" autocomplete="off" placeholder="Senha">
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
