{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Cadastro de Clientes {% endblock %}

{% block css_plugins %}
    <link href="{% static 'assets/plugins/dropify/css/dropify.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}

{% endblock %}

{% block js_plugins %}
    <script src="{% static 'assets/plugins/dropify/js/dropify.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'js/register-clients.js' %}"></script>
    <script>
        window.onload = function () {
            $('.close-card-user').click(function (e) {
                alert(1);
            });
        }

        $(function() {
            'use strict';

            $('#logo').dropify({
                messages: {
                    'default': 'Logo da empresa',
                    'replace': 'Drag and drop or click to replace',
                    'remove':  'Remove',
                    'error':   'Ooops, something wrong happended.'
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Register-Client</li>
    </ol>
</nav>

{% include 'constants/alerts/register-client.html' %}

<div id="alerts"></div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Cadastro de Clientes</h6>
                <div class="col-md-12">
                    <form action="{% url 'register-client' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input type="text" id="company-name" name="company-name" class="form-control"
                                           placeholder="Razão Social" required>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Display Name</label>
                                    <input type="text" name="display-name" id="display-name" class="form-control"
                                           placeholder="Email da empresa">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" name="email" id="email" class="form-control"
                                           placeholder="Email da empresa" required>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">CNPJ</label>
                                    <input type="text" name="cnpj" id="cnpj" class="form-control"
                                           placeholder="ex. 999.999.999-99" required>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input type="text" name="city" id="city" class="form-control"
                                           placeholder="Cidade" required>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">UF</label>
                                    <input type="text" name="state" id="state" class="form-control"
                                           placeholder="Sigla" required>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">CEP</label>
                                    <input type="text" name="cep" id="cep" class="form-control"
                                           placeholder="ex. 99999-999" required>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Bairro</label>
                                    <input type="text" name="district" id="district" class="form-control"
                                           placeholder="Bairro" required>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Inscrição Estadual</label>
                                    <input type="text" name="state-registration" id="state-registration" class="form-control"
                                           placeholder="Sua inscrição estadual" >
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Inscrição Munincipal</label>
                                    <input type="text" class="form-control" name="municipal-registration"
                                           placeholder="Sua inscrição munincipal" id="municipal-registration" >
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Endereço</label>
                                    <input type="text" class="form-control" name="address"
                                           placeholder="Endereço ex: Rua, número" id="address">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="submit-form" type="button">Cadastrar cliente</button>
                                <button type="button" class="btn btn-success btn-icon-text"
                                        data-toggle="modal" data-target="#add-user">
                                    <i class="btn-icon-prepend" data-feather="user-plus"></i>
                                    Adicionar usuário
                                </button>
                            </div>
                        </div><!-- Row -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="add-user" aria-hidden="true">
    <div class="modal-dialog-centered modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar usuário</h5>
                <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="forms-sample">
					<div class="form-group">
						<input type="text" class="form-control" id="username-user" name="username-user" autocomplete="off"
                               placeholder="Username" required>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" name="email-user" id="email-user"
                               placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="password" name="password-user" class="form-control" id="password-user"
                               autocomplete="off" placeholder="Password">
					</div>
					<button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btn-add-user-modal" class="btn btn-outline-success">
                        Adicionar
                    </button>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="row" id="list-users">
            <!-- TODO -->
        </div>
    </div>
    <div class="col-sm-4">
        <input type="file" name="logo" id="logo" data-allowed-file-extensions="jpg png jpeg" class="border"/>
    </div>
</div>

<input type="hidden" id="users-json">

{% endblock %}
