{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Clients {% endblock %}

{% block css_plugins %}

{% endblock %}

{% block css %}
    <style>
    .perfect-scrollbar-example {
        position: relative;
        max-height: 630px;
    }
    </style>
{% endblock %}

{% block js_plugins %}
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/list-clients.js' %}"></script>
    <script>
    var scrollbarExample = new PerfectScrollbar('.perfect-scrollbar-example');
    </script>
{% endblock %}

{% block content %}

<div class="row perfect-scrollbar-example">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Clientes</h6>
                <div class="row">

                    {% for client in clients %}
                    <div class="col-sm-3 mt-3 show-info" data-company_name="{{ client.company_name }}"
                         data-display_name="{{ client.display_name }}" data-cnpj="{{ client.cnpj }}"
                         data-city="{{ client.city }}" data-state="{{ client.state }}" data-cep="{{ client.cep }}"
                         data-state_registration="{{ client.state_registration }}" data-district="{{ client.district }}"
                         data-municipal_registration="{{ client.municipal_registration }}"
                         data-created_at="{{ client.created_at }}" data-cnpj_s="{{ client.cnpj_text }}"
                         data-address="{{ client.address }}">
                        <div class="card text-center">
                            <div class="card-body" style="padding: 15px">
                                <h5 class="card-title">
                                    <img style="border-radius: 50%" src="{% static 'images/company.png' %}"/>
                                </h5>
                                <p class="card-text">{{ client.display_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="info-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Razão Social: </b> <span id="company_name"></span> </p>
                <p><b>Cidade: </b> <span id="city"></span> </p>
                <p><b>UF: </b> <span id="state"></span> </p>
                <p><b>CEP: </b> <span id="cep"></span> </p>
                <p><b>Bairro: </b> <span id="district"></span> </p>
                <p><b>Endereço: </b> <span id="address"></span> </p>
                <p><b>CNPJ: </b> <span id="cnpj"></span> </p>
                <p><b>Insc. Estadual: </b> <span id="state_registration"></span> </p>
                <p><b>Insc. Municipal: </b> <span id="municipal_registration"></span> </p>
                <p><b>CNPJ sem ponto: </b> <span id="cnpj_s"></span> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
