{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Clients {% endblock %}

{% block css_plugins %}

{% endblock %}

{% block css %}
    <style>
    .perfect-scrollbar-example {
        position: relative;
        max-height: 630px;
    }
    </style>
{% endblock %}

{% block js_plugins %}
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/list-clients.js' %}"></script>
    <script>
    var scrollbarExample = new PerfectScrollbar('.perfect-scrollbar-example');
    </script>
{% endblock %}

{% block content %}

<div class="row perfect-scrollbar-example">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Clientes</h6>
                <div class="row">

                    {% for client in clients %}
                    <div class="col-sm-3 mt-3 show-info" data-company_name="{{ client.company_name }}"
                         data-display_name="{{ client.display_name }}" data-cnpj="{{ client.cnpj }}"
                         data-city="{{ client.city }}" data-state="{{ client.state }}" data-cep="{{ client.cep }}"
                         data-state_registration="{{ client.state_registration }}"
                         data-municipal_registration="{{ client.municipal_registration }}" data-created_at="{{ client.created_at }}">
                        <div class="card text-center">
                            <div class="card-body" style="padding: 15px">
                                <h5 class="card-title">
                                    <img style="border-radius: 50%" src="https://via.placeholder.com/80x80"/>
                                </h5>
                                <p class="card-text">{{ client.display_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="info-modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ul class="list-group">
                <li class="list-group-item" id="company_name"></li>
                <li class="list-group-item" id="display_name"></li>
                <li class="list-group-item" id="cnpj"></li>
                <li class="list-group-item" id="city"></li>
                <li class="list-group-item" id="state"></li>
                <li class="list-group-item" id="cep"></li>
                <li class="list-group-item" id="state_registration"></li>
                <li class="list-group-item" id="municipal_registration"></li>
                <li class="list-group-item" id="created_at"></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
