{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Criar Gráficos {% endblock %}

{% block css_plugins %}
    <link href="{% static 'assets/plugins/jquery-steps/jquery.steps.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/select2/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}
<style>
.card .card-body {
    padding: 1.0rem 1.0rem;
}
.wizard > .content {
    min-height: 26rem !important;
}
</style>
{% endblock %}

{% block js_plugins %}
    <script src="{% static 'assets/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexcharts/apexcharts.min.js' %}"></script>
{% endblock %}

{% block js_extra %}
    <script src="{% static 'assets/plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/inputmask/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script>
    $(function() {
        var wizard = $('#wizard-create-chart');

        $("#wizard-create-chart").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: 'vertical',
            onStepChanging: function (event, currentIndex, newIndex)
            {
                return true;
            },
            onFinished: function (event, currentIndex)
            {
                let yAxis_plot_type = $('#yAxis_plot_type').val();
                let name_graph = $('#name-graph').val();

                let client = $('#client').val();

                if (client === '0')
                    client = '';

                let strftime = $('#strftime').val();
                let schema = '[{"name":"Time","type":"date","format":"'+strftime+'"},{"name":"title","type":"number"}]';

                let caption_text = $('#caption-text').val();
                var yAxis_format_prefix = $('#yAxis_format_prefix').val();

                let fd = new FormData();

                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                fd.append('yAxis_plot_type', yAxis_plot_type);
                fd.append('yAxis_format_prefix', yAxis_format_prefix);
                fd.append('yAxis_title', name_graph);
                fd.append('cid', client);
                fd.append('uid', '');
                fd.append('caption', caption_text);
                fd.append('yAxis_plot_value', 'number');
                fd.append('schema', schema);
                fd.append('subcaption_text', 'default');

                $.ajax({
                    url: '/view_charts/create-charts',
                    method: 'post',
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                    },
                    success: function(data) {
                        if (data.code !== 400) {
                            Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 1113000
                            }).fire({
                                icon: 'success',
                                title: 'Gráfico criado com sucesso!'
                            });
                        } else {
                            Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 1113000
                            }).fire({
                                icon: 'warning',
                                title: 'Ops... ' + data.msg
                            });
                        }
                    },
                    error: function () {
                        alert('The chart could not be created, check that the attributes are in the correct format.')
                    }
                });

            }
        });
        $(":input").inputmask();
    });
    </script>
    <script src="{% static 'js/apexcharts-examples.js' %}"></script>
    <script>
    $(function() {
        'use strict';

        $('#name-graph').maxlength({
            alwaysShow: true,
            threshold: 20,
            warningClass: "badge mt-1 badge-success",
            limitReachedClass: "badge mt-1 badge-danger"
        });

        $('#raw-init-data').maxlength({
            alwaysShow: true,
            warningClass: "badge mt-1 badge-success",
            limitReachedClass: "badge mt-1 badge-danger"
        });
    });
    </script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Criar Gráfico</h4>

                <div id="wizard-create-chart">
                    <h2>Modelo</h2>

                    <section>
                        <h4>Escolha o tipo do gráfico</h4>
                        <div class="form-group mt-2">
                            <label>Selecione o tipo de gráfico</label>
                            <select class="js-example-basic-single w-100" id="yAxis_plot_type">
                                <option value="line">Line Chart</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 stretch-card mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Line chart</h6>
                                        <div id="apexLine"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h2>Configurações</h2>

                    <section>
                        <h4>Sobre o Gráfico</h4>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="name-graph">Nome para o Gráfico:</label>
                                <input id="name-graph" maxlength="15" class="form-control mb-4 mb-md-0"/>
                            </div>
                            <div class="col-md-8 mt-2">
                                <label for="client">Cliente</label>
                                <select id="client" class="js-example-basic-single w-100">
                                    <option value="0">None</option>
                                    {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.company_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="raw-init-data">Raw Data:</label>
                                <textarea class="form-control" id="raw-init-data" maxlength="100" rows="3"
                                          placeholder="Dados separados por virgula."></textarea>
                            </div>
                        </div>
                    </section>

                    <h2>Detalhes</h2>

                    <section>
                        <h4>Detalhes do Gráfico</h4>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="caption-text">Titulo para o gráfico</label>
                                <input id="caption-text" class="form-control mb-4 mb-md-0" />
                            </div>
                            <div class="col-md-3">
                                <label for="yAxis_format_prefix">Prefixo para valores</label>
                                <input id="yAxis_format_prefix" value="" class="form-control mb-4 mb-md-0" />
                            </div>
                            <div class="col-md-4">
                                <label for="strftime">strftime</label>
                                <input id="strftime" value="%Y-%m-%d %H:%M" class="form-control mb-4 mb-md-0"  />
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}

{% endblock %}
