{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Zabbix {% endblock %}

{% block css_plugins %}
    <link href="{% static 'assets/plugins/jquery-steps/jquery.steps.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/prismjs/prism.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}
    <style>
    .wizard > .content {
        min-height: 30rem !important;
    }
    </style>
{% endblock %}

{% block js_plugins %}
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="{% static 'js/candy.js' %}"></script>

    <script src="{% static 'assets/plugins/prismjs/prism.js' %}"></script>
    <script src="{% static 'assets/plugins/clipboard/clipboard.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script>

    var theme = '{{ request.session.theme }}';
    var wizard = $("#wizard");

    wizard.steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "fade",
        onFinishing: function (event, currentIndex) {
            if ($("#itemid").val() === "")
                return false;

            if ($("#numbr").val() === "")
                return false;

            return true;
        },
        onFinished: function (event, currentIndex) {
            let fd = new FormData();

            let schema = '[{"name":"Time","type":"date","format":"%Y-%m-%d %H:%M"},{"name":"title","type":"number"}]';

            fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
            fd.append('theme', theme);

            fd.append('itemid', $("#itemid").val());
            fd.append('number_data', $("#numbr").val());

            fd.append('cid', '');
            fd.append('caption_text', 'unknown');
            fd.append('schema', schema);
            fd.append('subcaption_text', 'unknown');
            fd.append('uid', '');
            fd.append('yAxis_format_prefix', '');
            fd.append('yAxis_plot_type', 'line');
            fd.append('yAxis_plot_value', 'number');
            fd.append('yAxis_title', 'unknown');

            fd.append('from_zabbix', true);

            $.ajax({
                url: '/view_charts/create-charts',
                method: 'post',
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    location.reload();
                },
                error: function () {
                    alert('error!');
                }
            });
        },
        onStepChanging: function (event, currentIndex, newIndex) {

            let itemid = $("#itemid");
            let numbr = $("#numbr");

            if (newIndex === 1) {

                if (itemid.val() === "") {
                    itemid.focus()
                    return false;
                }

                if (numbr.val() === "") {
                    numbr.focus()
                    return false;
                }

                let fd = new FormData();

                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                fd.append('theme', theme);

                fd.append('itemid', itemid.val());
                fd.append('numbr', numbr.val());

                $.ajax({
                    url: '/pre-view-graph-zabbix',
                    method: 'post',
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $('#graph-here').html('');
                        $('#graph-here').append('<div id="chart-'+data.id+'"></id>');
                        let div_graph = '#'+'chart-'+data.id;
                        $(div_graph).append(data.graph);
                    },
                    error: function () {
                        alert('error when rendering graph from zabbix information!');
                    }
                });
            }
            return true;
        }
    });
    </script>
{% endblock %}

{% block js_extra %}
    <script src="{% static 'assets/plugins/jquery-steps/jquery.steps.min.js' %}"></script>
{% endblock %}

{% block content %}

{% include 'constants/alerts/register-client.html' %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Replicar gráficos do Zabbix</h4>

                <div id="wizard">
                <h2>Configuração</h2>
                <section>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <form class="forms-sample">
                                    <div class="form-group">
                                        <label for="itemid">ITEMID do gráfico</label>
                                        <input type="text" class="form-control" id="itemid" autocomplete="off" placeholder="itemid">
                                    </div>
                                    <div class="form-group">
                                        <label for="numbr">Número de registros</label>
                                        <input type="text" class="form-control" id="numbr" placeholder="Número de registros anteriores">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </section>

                <h2>Pré visualização</h2>
                <section>
                    <div>
                        <div id="graph-here"></div>
                    </div>
                </section>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
