{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Inventários {% endblock %}

{% block css_plugins %}
    <link href="{% static 'css/extra/modal.css' %}" rel="stylesheet" />
    <link href="{% static 'css/extra/modal.css' %}" rel="stylesheet" />
    <link href="{% static 'css/d3-mitch-tree.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/d3-mitch-tree-theme-default.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/themes/default/style.min.css" integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg==" crossorigin="anonymous" />
{% endblock %}

{% block css %}
<style>
.box {
    background-color: #1b2e4b;
}
.box:hover {
    background-color: transparent;
    cursor: pointer;
}
</style>
<style>

</style>
{% endblock %}

{% block js_plugins %}
    <script src="https://www.cssscript.com/demo/visualize-hierarchical-tree-d3-mitch/dist/js/d3-mitch-tree.min.js"></script>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/jstree.min.js" integrity="sha512-fgHQj3Fsk5TtG3XglZ/JkE06lx/gJdBZ+Lll785gf5RW3NWcGsyTBwauFtwrlZvpsuv6XSjzB97fBNagkT6uDg==" crossorigin="anonymous"></script>

    <script>
        $('#btn-create-env').click(function (e) {
           $('#modal-create-env').modal('show');
        });
        $('#btn-create-service').click(function (e) {
           $('#modal-create-service').modal('show');
        });
        $('#btn-create-instance').click(function (e) {
           $('#modal-create-instance').modal('show');
        });
        $('#btn-create-host').click(function (e) {
           $('#modal-create-host').modal('show');
        });
        $('#submit-btn-create-env').click(function (e) {
            $('#form-create-env').submit();
        });
        $('#submit-btn-create-host').click(function (e) {
            $('#form-create-host').submit();
        })
        $('#submit-btn-create-instance').click(function (e) {
            $('#form-create-instance').submit();
        })
        $('#submit-btn-create-service').click(function (e) {
            $('#form-create-service').submit();
        })
        $('.box').click(function (e) {
            let card_id = e.currentTarget.id;

            $('#modal-fill').modal('show');

            $.post("/inventory", {client_id: card_id,
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()}, function(data, status) {

                var data = data.data;

                console.log(data)

                var treePlugin = new d3.mitchTree.boxedTree()
                    .setAllowFocus(false)
                    .setAllowZoom(false)
                    .setAllowPan(true)
                    .setAllowNodeCentering(false)
                    .setData(data)
                    .setElement(document.getElementById("visualisation"))
                    .setIdAccessor(function(data) {
                        return data.id;
                    })
                    .setChildrenAccessor(function(data) {
                        return data.children;
                    })
                    .setBodyDisplayTextAccessor(function(data) {
                        return data.description;
                    })
                    .setTitleDisplayTextAccessor(function(data) {
                        return data.name;
                    })
                    .initialize();
                var nodes = treePlugin.getNodes();
                    nodes.forEach(function(node, index, arr) {
                        treePlugin.expand(node);
                    });
                    treePlugin.update(treePlugin.getRoot());
            });
        });

        var hosts = {{ data.json_hosts|safe }};

        var jsondata = {{ data.tree|safe }};

        $('#tree-inv')
            .on("changed.jstree", function (e, data) {
                if(data.selected.length) {
                    let instance = data.instance.get_node(data.selected[0]).id
                    if ( instance.indexOf("host-") > -1 ) {
                        for (let i=0; i < hosts.length; i++) {
                            if (instance.indexOf(hosts[i].hostname)) {
                                console.log(JSON.parse(hosts[i]));
                            }
                        }
                    }
                }
            })
            .jstree({
            "core": {
                'data': jsondata
            },
            "plugins": ["search", "types", "wholerow"],
            "search": {
                "case_sensitive":false,
                "show_only_matches": true
            },
            "types": {
                "root": {
                    "icon": "/static/images/min-enterprise.png"
                },
                "file" : {
                    "icon": "/static/images/min-enterprise.png"
                }
            },
        });

        $(document).ready(function () {
            $(".search-input").keyup(function () {
                var searchString = $(this).val();
                $('#tree-inv').jstree('search', searchString);
            });
        });

    </script>
{% endblock %}

{% block content %}

{% include 'constants/alerts/register-client.html' %}

<div class="row">
    <div class="col-5 col-lg-5">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="p-item">Pesquisar item</label>
                    <input type="text" class="form-control search-input" id="p-item" placeholder="Nome do Host...">
                </div>
                <div id="tree-inv"></div>
            </div>
        </div>
    </div>
    <div class="col-7 col-lg-7">
    <div class="row">
        {% for client in data.clients %}
        <div class="col-6 col-lg-6">
            <div class="box mb-4" id="{{ client.id }}" style="border: 2px solid white; border-radius: 10px;">
                <div class="box-body">
                    <div class="text-center">
                        <div class="user-contact list-inline text-center">
                            <a href="#" class="btn btn-circle mt-3 mb-4 btn-warning"><i data-feather="server"></i></a>
                            <a href="#" class="btn btn-circle mt-3 mb-4 btn-warning"><i data-feather="database"></i></a>
                        </div>
                        <h6 class="user-info mt-0 mb-10 text-fade text-white">{{ client.display_name }}</h6>
                        <p class="text-fade w-p85 mb-1 mx-auto text-white">{{ client.company_name }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

<div class="modal modal-fill fade" data-backdrop="false" id="modal-host" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="color: white" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Razão Social: </b> <span id="company_name"></span> </p>
                <p><b>Cidade: </b> <span id="city"></span> </p>
                <p><b>UF: </b> <span id="state"></span> </p>
                <p><b>CEP: </b> <span id="cep"></span> </p>
                <p><b>Bairro: </b> <span id="district"></span> </p>
                <p><b>Endereço: </b> <span id="address"></span> </p>
                <p><b>CNPJ: </b> <span id="cnpj"></span> </p>
                <p><b>Insc. Estadual: </b> <span id="state_registration"></span> </p>
                <p><b>Insc. Municipal: </b> <span id="municipal_registration"></span> </p>
                <p><b>CNPJ sem ponto: </b> <span id="cnpj_s"></span> </p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fill fade" data-backdrop="false" id="modal-fill" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="color: white" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="visualisation"
                         style="border: 1px solid #1b2e4b; border-radius: 10px; min-width: 90%; min-height: 80%; color: white !important;">
                </section>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>

<div id="modal-create-env" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar um novo ambiente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="form-create-env" action="/proxy_api" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="env-name">Nome</label>
                        <input type="text" name="name" class="form-control" id="env-name" autocomplete="off" placeholder="Ambiente">
                    </div>
                    <div class="form-group">
                        <label for="env-invent">Inventário</label>
                        <select class="form-control" name="inventory" id="env-invent" required>
                            <option selected disabled>Selecione um inventário</option>
                            {% for inventory in data.inventories %}
                            <option value="{{ inventory.id }}">{{ inventory }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input name="route" value="/api/cmdb/environment/" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="submit-btn-create-env" class="btn btn-primary">Criar item</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-create-host" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar um novo Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="form-create-host" action="/proxy_api" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="host-env" class="col-sm-3 col-form-label">Ambiente</label>
                        <div class="col-sm-9">
                        <select class="form-control" name="environment" id="host-env" required>
                            <option selected disabled>Selecione um ambiente</option>
                            {% for env in data.envs %}
                            <option value="{{ env.id }}">{{ env }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-ip-interno" class="col-sm-3 col-form-label">IP Interno</label>
                        <div class="col-sm-9">
                            <input type="text" name="private_ip" class="form-control" id="host-ip-interno"
                                   placeholder="Endereço IPv4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-ip-externo" class="col-sm-3 col-form-label">IP externo</label>
                        <div class="col-sm-9">
                        <input type="email" class="form-control" name="public_ip" id="host-ip-externo"
                               autocomplete="off" placeholder="Endereço IPv4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-os-name" class="col-sm-3 col-form-label">OS Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="os_name" id="host-os-name"
                                   placeholder="posix para Linux e nt para Windows" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-arch" class="col-sm-3 col-form-label">Arquitetura</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="arch" id="host-arch"
                                   autocomplete="off" placeholder="Arch" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-platform" class="col-sm-3 col-form-label">Plataforma</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="platform" id="host-platform"
                                   autocomplete="off" placeholder="Platform">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-processor" class="col-sm-3 col-form-label">Processador</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="processor" id="host-processor"
                                   autocomplete="off" placeholder="Processor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-hostname" class="col-sm-3 col-form-label">Hostname</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="hostname" id="host-hostname"
                                   autocomplete="off" placeholder="Hostname da máquina">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-ram" class="col-sm-3 col-form-label">RAM</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="ram" id="host-ram"
                                   autocomplete="off" placeholder="RAM em GB/s">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-physical-cores" class="col-sm-3 col-form-label">Physical Cores</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="cores" id="host-physical-cores"
                                   autocomplete="off" placeholder="Physical Cores">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-frequency" class="col-sm-3 col-form-label">Frequência</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="frequency" id="host-frequency"
                                   autocomplete="off" placeholder="Current frequency">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-equipment" class="col-sm-3 col-form-label">Equipamento</label>
                        <div class="col-sm-9">
                        <select class="form-control" name="equipment" id="host-equipment" required>
                            <option selected disabled>Tipo de equipamento</option>
                            <option value="virtual">Virtual Machine</option>
                            <option value="real">Physical Machine</option>
                            <option value="docker">Container Dockere</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="host-service" class="col-sm-3 col-form-label">Serviço</label>
                        <div class="col-sm-9">
                        <select class="form-control" name="service" id="host-service">
                            <option selected disabled>Selecione um ambiente</option>
                            {% for service in data.services %}
                            <option value="{{ service.id }}">{{ service.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <input name="route" value="/api/cmdb/host/" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="submit-btn-create-host" class="btn btn-primary">Criar item</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-create-instance" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar uma nova instância</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="form-create-instance" action="/proxy_api" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="instance-name">Nome</label>
                        <input type="text" name="name" class="form-control" id="instance-name" autocomplete="off" placeholder="Instância">
                    </div>
                    <div class="form-group">
                        <label for="instance-service">Serviço</label>
                        <select class="form-control" name="service" id="instance-service">
                            <option selected disabled>Selecione um serviço</option>
                            {% for service in data.services %}
                            <option value="{{ service.id }}">{{ service.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="instance-host">Host</label>
                        <select class="form-control" name="host" id="instance-host" required>
                            <option selected disabled>Selecione um host</option>
                            {% for host in data.hosts %}
                            <option value="{{ host.id }}">{{ host }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="instance-database">Database</label>
                        <input type="text" name="database" class="form-control" id="instance-database"
                               autocomplete="off" placeholder="Database">
                    </div>
                    <input name="route" value="/api/cmdb/instance/" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="submit-btn-create-instance" class="btn btn-primary">Criar item</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-create-service" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar um novo serviço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="form-create-service" action="/proxy_api" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="service-name">Nome</label>
                        <input type="text" name="name" class="form-control" id="service-name" autocomplete="off"
                               placeholder="Service Name">
                    </div>
                    <div class="form-group">
                        <label for="service-ip">IP</label>
                        <input type="text" name="ip" class="form-control" id="service-ip"
                               autocomplete="off" placeholder="IPv4">
                    </div>
                    <div class="form-group">
                        <label for="service-dns">DNS</label>
                        <input type="text" name="dns" class="form-control" id="service-dns"
                               autocomplete="off" placeholder="DNS">
                    </div>
                    <div class="form-group">
                        <label for="service-port">Port</label>
                        <input type="number" name="port" class="form-control" id="service-port"
                               autocomplete="off" placeholder="Port">
                    </div>
                    <input name="route" value="/api/cmdb/service/" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="submit-btn-create-service" class="btn btn-primary">Criar item</button>
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
{% endblock %}
