{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Tempalte {% endblock %}

{% block css_plugins %}
    <link href="{% static 'css/extra/modal.css' %}" rel="stylesheet" />
    <link href="{% static 'css/extra/modal.css' %}" rel="stylesheet" />
    <link href="{% static 'css/d3-mitch-tree.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/d3-mitch-tree-theme-default.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}
<style>
.box {
    background-color: #1b2e4b;
}
.box:hover {
    background-color: transparent;
    cursor: pointer;
}
</style>
<style>

</style>
{% endblock %}

{% block js_plugins %}
    <script src="https://www.cssscript.com/demo/visualize-hierarchical-tree-d3-mitch/dist/js/d3-mitch-tree.min.js">

    </script>
{% endblock %}

{% block js %}
    <script>
        $('.box').click(function (e) {
           $('#modal-fill').modal('show');
        });
    </script>
    <script src="{% static 'js/tree-view.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="box" style="border: 2px solid white; border-radius: 10px;">
            <div class="box-body">
                <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a href="#" class="btn btn-circle mt-3 mb-4 btn-warning"><i data-feather="server"></i></a>
                        <a href="#" class="btn btn-circle mt-3 mb-4 btn-warning"><i data-feather="database"></i></a>
                    </div>
                    <h6 class="user-info mt-0 mb-10 text-fade">Portal SA</h6>
                    <p class="text-fade w-p85 mb-1 mx-auto">Portal de Documentos S.A</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fill fade" data-backdrop="false" id="modal-fill" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="color: white" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="visualisation"
                         style="border: 1px solid #1b2e4b; border-radius: 10px; min-width: 90%; min-height: 80%; color: white !important;">
                </section>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>

{% endblock %}
