{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Cofre de Senhas {% endblock %}

{% block css_plugins %}
    <link href="{% static 'assets/plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}

<style>
.main-container {
    min-height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.searchable-items.list .items .item-content {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem;
    position: relative;
    display: inline-flex;
    min-width: 0;
    word-wrap: break-word;
    justify-content: space-between;
    /* background: #fff; */
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 13px 18px;
    width: 100%;
    min-width: 767px;
    transition: all 0.35s ease;
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.items {
    margin-top: 2px;
}

</style>

{% endblock %}

{% block js_plugins %}
    <script src="{% static 'assets/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/promise-polyfill/polyfill.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'js/password-safe.js' %}"></script>
    <script>
    $('#btn-n-add').click(function (e) {
        $('#mnpass').modal('show');
    });
    </script>
{% endblock %}

{% block content %}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Password-Safe</li>
    </ol>
</nav>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" id="btn-n-add" href="javascript:void(0);">Adicionar usuário</a>
    </li>
</ul>

<div class="row main-container">
    <div class="col-lg-12">
        <div>
            <div>
                <div class="searchable-items list">
                    <div class="items items-header-section">
                        <div class="item-content">
                            <div class="">
                                <h4>Name</h4>
                            </div>
                            <div class="">
                                <h4></h4>
                            </div>
                            <div class="">
                                <h4 style="margin-left: 0;"></h4>
                            </div>
                            <div class="">
                                <h4 style="margin-left: 0;"></h4>
                            </div>
                            <div class="">
                                <h4 style="margin-left: 0;"></h4>
                            </div>
                            <div class="">
                                <h4 style="margin-left: 20px;">Passwd</h4>
                            </div>
                        </div>
                    </div>

                    {% for user in data.users %}
                    <div class="items">
                        <div class="item-content">
                            <div class="user-profile">
                                <p class="user-name" data-name="{{ user.username }}">{{ user.username }}</p>
                            </div>
                            <div class="user-email">
                                <p class="usr-email-addr" data-email="{{ user.email }}">{{ user.email }}</p>
                            </div>
                            <div class="user-location">
                                <p class="usr-location" data-username="{{ user.display_name }}">{{ client.display_name }}</p>
                            </div>
                            <div class="user-phone">
                                <p class="usr-ph-no" id="passwd-{{ user.username2 }}" data-click="1" data-password="">**********</p>
                            </div>
                            <div class="action-btn">
                                <a id="{{ user.username2 }}" class="show-passwd" href="javascript:void(0);">
                                    <span id="icon-v-{{ user.username2 }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="mnpass" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar novo usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="n-mail">username</label>
                        <input type="text" name="n-username" class="form-control" id="n-username" autocomplete="off" placeholder="Nome de usuário" required>
                    </div>
                    <div class="form-group">
                        <label for="n-passwd">Password</label>
                        <input type="password" name="n-passwd" class="form-control" id="n-passwd" autocomplete="off" placeholder="Senha" required>
                    </div>
                    <div class="form-group">
                        <label for="n-enterprise">Empresa</label>
                        <select class="form-control" name="n-enterprise" id="n-enterprise">
                        {% for client in data.clients %}
                            <option value="{{ client.id }}">{{ client.display_name }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="form-check">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="n-add" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
