{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Create Charts {% endblock %}

{% block css_plugins %}
    <link href="{% static 'assets/plugins/jquery-steps/jquery.steps.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}
<style>
.card .card-body {
    padding: 1.0rem 1.0rem;
}
</style>
{% endblock %}

{% block js_plugins %}
    <script src="{% static 'assets/plugins/apexcharts/apexcharts.min.js' %}"></script>
{% endblock %}

{% block js_extra %}
    <script src="{% static 'assets/plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/inputmask/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script>
    $(function() {
        $("#wizard-create-chart").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: 'vertical'
        });
        $(":input").inputmask();
    });
    </script>
    <script src="{% static 'js/apexcharts-examples.js' %}"></script>
    <script>
    $(function() {
        'use strict';

        $('#name-graph').maxlength({
            alwaysShow: true,
            threshold: 20,
            warningClass: "badge mt-1 badge-success",
            limitReachedClass: "badge mt-1 badge-danger"
        });

        $('#raw-init-data').maxlength({
            alwaysShow: true,
            warningClass: "badge mt-1 badge-success",
            limitReachedClass: "badge mt-1 badge-danger"
        });
    });
    </script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Criar Gráfico</h4>

                <div id="wizard-create-chart">
                    <h2>Modelo</h2>

                    <section>
                        <h4>Escolha o tipo do gráfico</h4>
                        <div class="form-group mt-2">
                            <label>Selecione o tipo de gráfico</label>
                            <select class="js-example-basic-single w-100">
                                <option value="line">Line Chart</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 stretch-card mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Line chart</h6>
                                        <div id="apexLine"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h2>Configurações</h2>

                    <section>
                        <h4>Sobre o Gráfico</h4>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Data de início:</label>
                                <input class="form-control mb-4 mb-md-0" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy HH:MM:ss" />
                            </div>
                            <div class="col-md-6">
                                <label>Nome para o Gráfico:</label>
                                <input id="name-graph" maxlength="15" class="form-control mb-4 mb-md-0"  />
                            </div>
                            <div class="col-md-8 mt-2">
                                <label>Cliente</label>
                                <select class="js-example-basic-single w-100">
                                    <option value="1">Company 01</option>
                                    <option value="2">Company 02</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>Raw Data:</label>
                                <textarea class="form-control" id="raw-init-data" maxlength="100" rows="3"
                                          placeholder="Dados separados por virgula."></textarea>
                            </div>
                        </div>
                    </section>

                    <h2>Pré Visualização</h2>
                    <section>
                        <h4>Overview</h4>
                        <ul class="mt-2 ml-2">
                            <li><b>ID</b>: 2d90_oracle_sizing</li>
                            <li><b>Cliente</b>: Company 01</li>
                            <li><b>Modelo do Gráfico</b>: Line</li>
                            <li><b>Data inicial</b>: 09/08/2020 18:21:01</li>
                            <li><b>Raw info</b>:</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
