{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Show Charts {% endblock %}

{% block css_plugins %}

{% endblock %}

{% block css %}

{% endblock %}

{% block js_plugins %}
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
{% for item in output %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div id="chart-{{ item.obj_chart.id }}">{{ item.chart|safe }}</div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
