{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Portal início {% endblock %}

{% block css %}
    <link href="{% static 'css/notes.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}

<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row app-notes layout-top-spacing" id="cancel-row">
            <div class="col-lg-12">
                <div class="app-hamburger-container">
                    <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
                </div>

                <div class="app-container">

                    <div class="app-note-container">

                        <div class="app-note-overlay"></div>

                        <div id="ct" class="note-container note-grid">

                            <div class="note-item all-notes note-personal">
                                <div class="note-inner-content">
                                    <div class="note-content">
                                        <p class="note-title" data-noteTitle="Meeting with Kelly">Nota do desenvolvedor</p>
                                        <p class="meta-time">08/09/2020</p>
                                        <div class="note-description-content">
                                            <p class="note-description" data-noteDescription="">
                                                Ainda não tempos uma versão estável, caso encontre algum bug por favor reportar ao administrador.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="note-action">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fav-note"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    </div>
                                    <div class="note-footer">
                                        <div class="tags-selector btn-group">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Modal -->
                    <div class="modal fade" id="notesMailModal" tabindex="-1" role="dialog" aria-labelledby="notesMailModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="modal"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                    <div class="notes-box">
                                        <div class="notes-content">
                                            <form action="javascript:void(0);" id="notesMailModalTitle">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="d-flex note-title">
                                                            <input type="text" id="n-title" class="form-control" maxlength="25" placeholder="Title">
                                                        </div>
                                                        <span class="validation-text"></span>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="d-flex note-description">
                                                            <textarea id="n-description" class="form-control" maxlength="60" placeholder="Description" rows="3"></textarea>
                                                        </div>
                                                        <span class="validation-text"></span>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn-n-save" class="float-left btn">Save</button>
                                    <button class="btn" data-dismiss="modal"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> Discard</button>
                                    <button id="btn-n-add" class="btn">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

    </div>

</div>
<!--  END CONTENT AREA  -->

{% endblock %}
