Django~=3.1
django-environ
mysqlclient
cryptography
djangorestframework
chardet
colorama
cryptography
Flask
Flask-SQLAlchemy
Markdown
MarkupSafe
mysqlclient
Pillow
psutil
requests
ruamel.yaml
SQLAlchemy
sqlparse
tabulate
termcolor
urllib3
ujson
ruamel.yaml
pick
aiohttp
django-otp~=0.9.4
django-two-factor-auth~=1.12.1