Django==3.1
django-environ
mysqlclient
cryptography
djangorestframework
chardet
colorama
cryptography
Flask
Flask-SQLAlchemy
Markdown
MarkupSafe
mysqlclient
Pillow
psutil
requests
ruamel.yaml
SQLAlchemy
sqlparse
tabulate
termcolor
urllib3